<html>
  <head>
  <title>GSM_Finger</title>
    <link rel="stylesheet" href="public/css/main.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code/jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
        <center>
          <form>
            <h1>GMS지문</h1>
              <div class="menu">
                  <button><a href="/fin_enroll" style="text-decoration: none; color: black;">지문 등록</a></button>
                  <button><a href="/time_lookup" style="text-decoration: none; color: black;">출입 시간 조회</a></button>
                  <button><a href="/data_search" style="text-decoration: none; color: black;">등록 조회</a></button>
                  <button><a href="/fin_delete" style="text-decoration: none; color: black;">삭제</a></button>
          </form>           
        </center>
  </body> 
</html>