<html>
  <head>
  <title>data_search</title>
    <link rel="stylesheet" type="text/css" href="css/stu_info_success.css">
  </head>
  <body>
        <center>
                <h1>data base 시간 출려거러어억</h1>
         </center>
        
  </body>
</html>
